.navbar--main{
    background-color: #274472;
    color: antiquewhite;
    display: flex;
    align-items: center;
    font-family: 'Signika Negative', sans-serif;
    padding: 0px 20px 0px 20px;
}
.navbar--title{
    cursor: default;
}
.navbar--options{
    list-style: none;
    display:inline-flex;
    margin-left: 60%;
    width: 40%;
    
}
.navbar--options > li {
    margin-right: 10%;
    text-align: right;
    cursor: pointer;
}
.navbar--options > li:hover {
    color:goldenrod;
}
.navbar--options > li:active {
    color: rgb(218, 97, 32);
}

.main{
    font-family: 'Signika Negative', sans-serif;
    color: antiquewhite;
    margin-top: 2.5%;
    width: 100%;
    height: 100%;
    display: flex;

}
.main--content {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Signika', sans-serif;

}
.pick-suits--content{
    width: 30%;
    margin: auto auto;
}
.pick-suits--content > h1{
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.suit-button{
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 30px;
    cursor: pointer;
    background-color: #132138;

}
.suit-button:hover{
    border-color: goldenrod;
    color: goldenrod;

}
.suit-button:active{
    border-color: rgb(218, 97, 32);
    color: rgb(218, 97, 32);

}
.suit-button-selected{
    color: green;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    background-color: #132138;
    border-radius: 30px;
    cursor: pointer;

}
.name-entry{
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    background-color: #132138;
    width: 96%;
    min-height: 10%;
    border-radius: 30px;
    text-align: center;
    color: antiquewhite;
    font-family: 'Signika Negative', sans-serif;
    font-size: 30px;
    font-weight: 500;

}
.name-entry:focus{
    border-color: goldenrod;
    color: goldenrod;
    outline: none;
}
.start-game-btn{
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15%;
    background-color: #132138;
}
.start-game-btn:hover{
    border-color: goldenrod;
    color: goldenrod;
}
.start-game-btn:active{
    border-color: rgb(218, 97, 32);
    color: rgb(218, 97, 32);

}
.pickRoom{

    width: 100%;
    height:80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2.5%;


}
.pickRoom--players{
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 30px;
    width: 100%;
    height: 80%;
    min-height: 80%;
    max-height: 80%;
    background-color: #0c1524;
    padding-bottom: 2.5%;

}
.pickRoom--challenges{
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 30px;
    width: 100%;
    background-color: #0c1524;
    padding-bottom: 2.5%;
}
.pickRoom--players--title{
    width: 100%;
    text-align: center;
}
.playerListItem {
    display:flex;
    margin-left: 10%;
    width: 80%;
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 30px;
}
.playerListItem--name{
    margin-left: 10%;
}
.playerListItem--challenge{
    
    display: flex;
    margin-left: auto;
    margin-right: 10%;
}
.playerListItem--challenge:hover{
    
    color: goldenrod;
    cursor: pointer;

}
.playerListItem--challenge:active{
    
    color: rgb(218, 97, 32);
    cursor: pointer;

}
.pickRoom--refresh{
    color: antiquewhite;
    background-color: #0c1524;
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 30px;
    width: 40%;
    margin-top: 2.5%;
    margin-left: 30%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 1%;

}
.pickRoom--refresh:hover{
    color: goldenrod;
    border-color: goldenrod;
}
.pickRoom--refresh:active{
    color: rgb(218, 97, 32);
    border-color: rgb(218, 97, 32);
}
.playerListItem--accept-challenge{
    color: rgb(5, 164, 5);
    cursor: pointer;
    margin-left: auto;
   
}
.playerListItem--accept-challenge:hover{
    color: goldenrod;
    cursor: pointer;
}
.playerListItem--accept-challenge:active{
    color: rgb(218, 97, 32);
    cursor: pointer;
}
.playerListItem--deny-challenge{
    color: rgb(164, 5, 5);
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
}
.playerListItem--deny-challenge:hover{
    color: goldenrod;
    cursor: pointer;
}
.playerListItem--deny-challenge:active{
    color: rgb(218, 97, 32);
    cursor: pointer;
}
.card {
    background-color: antiquewhite;
    width: 117px;
    height: 167px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.card--top-num-container{
    margin-left:auto;
    margin-right: 5%;
    width: 20%;
    margin-top: -20%;
    
}
.card--bottom-num-container{
 
    width: 20%;
    rotate: 180deg;
    margin-left: 5%;
    margin-top: -20%;
    
}
.card--num {
    width: 100%;
    text-align: center;
    margin-bottom: -5%;

}
.card--symbol{
    width : 100%;
    margin-top: -5%;

}
.card--main-symbol{
   
    width: 60%;
    margin-top: -5%;
    margin-bottom: -5%;
    margin-left:20%;
}

.card-suit-0 > div {
    color: #b00421;
}
.card-suit-1 > div {
    color: #b00421;
}
.card-suit-2 > div {
    color: #ff6003;
}
.card-suit-3 > div {
    color: #ffb303;
}
.card-suit-4 > div {
    color: #17ad00;
}
.card-suit-5 > div {
    color: #034ec7;
}
.card-suit-6 > div {
    color: #7836d4;
}

.card--back{
    width: 100%;
}
.test--card-display{
    display: flexbox;
    width: 500px;
    
}
.game--opponent-hand {
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.game--player-hand {
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

